@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800');


body {
	box-sizing: border-box;
	font-family: 'Irish Grover';
	text-align: center;
	background-color: black;
	color: whitesmoke;
}

h1 {
    font-size: 3rem;
    font-family: 'Macondo Swash Caps';
    color: #169b62;
    margin: 20px auto;
    text-align: center;
    text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
    color: rgb(22, 219, 22);
}

h3 {
    font-family: 'Macondo Swash Caps';
    font-size: 2rem;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px orange;
    color: orange;
}

#guide {
    height: 50vh;
    width: 100%;
    background-image: url(..//css/Images/angry-leprechaun-bg-free.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    animation-name: lephex-zoom;
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes lephex-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1); /* Back to the original size */
    }
}

.steps {
    color: orange;
    font-family: 'Macondo Swash Caps';
    font-size: 2rem;
}

input {
    height: auto;
    width: auto;
    font-size: 2rem;
    font-family: 'Irish Grover';
}

b {
    font-size: 2rem;
    font-style: italic;
    color: whitesmoke;
    margin: 20px auto;
    text-align: center;
}

div#refresh b {
    font-family: 'Macondo Swash Caps';
    text-shadow: 1px 1px 1px #000, 3px 3px 5px orange;
    color: orange;
    background-color: #000;
    font-style: normal;
}

p {
    font-size: 2rem;
    font-style: italic;
    margin: 20px auto;
    text-align: center;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px orange;
    color: orange;
}

section {
    margin: 20px auto;
    text-align: center;
}

.sections h2 span.steps img {
    vertical-align: middle;
    width: 1em;
    height: auto;
    margin-right: 0.5em; 
}

a, sam {
    color: #169b62;
    font-size: larger;
}

sam {
    color: whitesmoke;
}

a, button {
    cursor: pointer;
}

#create-canvas {
    font-size: 1.8rem;
}

#download-link, sam {
    font-size: 1.6rem;
}

.glow-text {
    color: whitesmoke; /* Text color */
    animation: glow-animation 1.5s infinite alternate;
    text-shadow: 
      -1px -1px 0 #000, /* Top-left shadow */
      1px -1px 0 #000, /* Top-right shadow */
      -1px 1px 0 #000, /* Bottom-left shadow */
      1px 1px 0 #000, /* Bottom-right shadow */
      /* Additional shadows for a more defined outline */
      -2px 0 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      0 2px 0 #000,
      /* Glow effect starts here */
      0 0 5px rgba(255, 255, 255, 0.2),
      0 0 10px rgba(255, 165, 0, 0.2),
      0 0 15px rgba(22, 155, 98, 0.2),
      0 0 20px rgba(255, 165, 0, 0.2);
  }
  
  @keyframes glow-animation {
    from {
      text-shadow: 
        -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
        -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000,
        /* Glow effect intensifies */
        0 0 8px rgba(255, 255, 255, 0.3),
        0 0 18px rgba(255, 165, 0, 0.3),
        0 0 28px rgba(22, 155, 98, 0.3),
        0 0 38px rgba(255, 165, 0, 0.3);
    }
    to {
      text-shadow: 
        -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000,
        -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000,
        /* Glow effect at its peak */
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 165, 0, 0.5),
        0 0 30px rgba(22, 155, 98, 0.5),
        0 0 40px rgba(255, 165, 0, 0.5);
    }
  }
  
  .active-flicker {
    animation: active-flicker 0.3s infinite alternate;
  }
  
  @keyframes active-flicker {
    from { box-shadow: 0 0 10px whitesmoke; }
    to { box-shadow: 0 0 5px #169b62; }
  }
  

#refresh {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: fit-content;
}

.sparkle-background {
    position: relative;
    width: 100%; /* Adjust based on your requirement */
    background-color: #000; /* Or any other color */
    overflow: hidden;
}

.sparkle-background::before,
.sparkle-background::after,
.finalResult::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    /* filter: blur(8px); Adjust the blur intensity as needed */
}

.sparkle-background::before {
    background-image: url('Images/small-stars-1.png'); /* Path to your first set of stars */
    animation: sparkle1 5s infinite; /* Adjust timing for different sparkle frequencies */
}

.sparkle-background::after {
    background-image: url('Images/large-green-stars-1.png'); /* Path to your second set of stars */
    animation: sparkle2 3s infinite; /* Adjust timing for different sparkle frequencies */
}

.finalResult::before {
    background-image: url('Images/small-stars-2.png'); /* Path to your third set of stars */
    animation: sparkle3 4s infinite; /* Adjust timing for different sparkle frequencies */
    z-index: -1;
}

.finalResult {
    position: relative;
    z-index: 100; 
    color: white;
    padding: 20px;
}

/* Keyframes for sparkling effects */
@keyframes sparkle1 {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}

@keyframes sparkle2 {
    0%, 100% { opacity: 0.7; }
    50% { opacity: 0.3; }
}

@keyframes sparkle3 {
    0%, 100% { opacity: 0.6; }
    50% { opacity: 0.9; }
}


.output {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-width: 2px;
}

#firstButton {
    font-size: 2rem;
    font-style: italic;
    color: green;
    background-color: darkorange;
}

#secondButton {
    font-size: 2rem;
    font-style: italic;
    color: whitesmoke;
    background-color: green;
    background-color: limegreen;
}

#thirdButton {
    font-size: 2rem;
    font-style: italic;
    color: orange;
    background-color: whitesmoke;
}

#finalButton {
    background-color: darkorange;
}

#fullPhrase {
    color: #169b62;
    font-size: 2rem;
    font-style: normal;
}

button {
    font-family: 'Irish Grover';
}

button#refresh p {
    color: whitesmoke;
    font-size: 1.5rem;
}

#sentence {
    color: green;
}

.social-networks {
    max-width: 50vw;
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
    text-align: center;
    margin-top: 1.5rem;
    font-size: larger;
}

.social-networks li {
    display: inline-block;
    width: 20%;
    font-size: 4.5vmin;
}

.fab,
.far {
    font-weight: 400;
    color: #169b62;
    padding: 20px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#history-bg {
    background-image: url('Images/subtle-castle-bg.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }  

.question-marks {
display: flex;
justify-content: space-around; /* Distributes the question marks evenly */
margin: 20px 0; /* Adjust as needed */
}

.question-mark img {
width: 50px; /* Adjust based on your image size */
animation-name: wobble-grow-shrink;
animation-duration: var(--animation-duration);
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
/* Randomize animation duration and delay for each question mark */
--animation-duration: calc(4s + var(--random-delay) * 1s);
--random-delay: calc(2 + (3 * rand()));
}

@keyframes wobble-grow-shrink {
0%, 100% {
    transform: rotate(0deg) scale(1);
}
25% {
    transform: rotate(-5deg) scale(1.1);
}
50% {
    transform: rotate(5deg) scale(0.9);
}
75% {
    transform: rotate(-5deg) scale(1.05);
}
}

.question-mark:nth-child(1) img {
    animation-duration: 5s;
    animation-delay: 0.2s;
  }
  
  .question-mark:nth-child(2) img {
    animation-duration: 4s;
    animation-delay: 0.5s;
  }
  
  .question-mark:nth-child(3) img {
    animation-duration: 6s;
    animation-delay: 0.7s;
  }
  

.about-aj,
.about-sam {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-aj .custom-col-md-6,
.about-sam .custom-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

@media (max-width: 767px) {
    .about-aj .custom-col-md-6,
    .about-sam .custom-col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Navbar */
.irish-flag-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.irish-flag-navbar .nav-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 120px;
}

.irish-flag-navbar .nav-section,
.irish-flag-navbar .nav-section a {
    color: black; 
}

.irish-flag-navbar .nav-section a {
    text-decoration: none; 
}

.irish-flag-navbar img {
    vertical-align: middle;
    margin-right: 5px; /* Adjust this value as needed */
    max-height: 40px; /* Ensures the images have the same height as in the provided code snippet */
    width: auto; /* Allows the width to adjust proportionally */
  }

.green {
    background-color: #169b62;
}

.white {
    background-color: #ffffff;
}

.orange {
    background-color: #ff883e;
}

.shamrock {
    width: 50% !important;
}

.l-what,
.l-who,
.l-where,
.l-why,
.l-when {
    cursor: pointer;
} 

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 20px;
    text-align: center;
}

.canvas-container {
    display:flex;
    justify-content: center;
    width: 100%;
}

#canvas {
    width: 75%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the canvas */
}

footer p {
    color: whitesmoke;
}

footer h2 {
    color: #169b62;
}

.list {
    list-style: none;
    padding-left: 0;
  }
  
  .list li {
    margin-bottom: 10px;
  }
  
  .steps img {
    vertical-align: middle;
    margin-right: 5px; /* Adjust this value as needed */
    max-height: 40px; /* Ensures the images have the same height as in the provided code snippet */
    width: auto; /* Allows the width to adjust proportionally */
  }

  .l-who img, .l-what img, .l-where img, .l-when img, .l-how img {
    vertical-align: middle;
    margin-right: 5px; /* Adjust this value as needed */
    max-height: 40px; /* Ensures the images have the same height as in the provided code snippet */
    width: auto; /* Allows the width to adjust proportionally */
  }

  #history {
    height: 50vh;
    width: 100%;
    background-image: url(..//css/Images/happy-leps.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    animation-name: lephex-zoom;
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes lephex-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1); /* Back to the original size */
    }
}

#darby {
    height: 20vh;
    width: 100%;
    background-image: url(../css/Images/darby.jpeg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

#first-irish {
    height: 100vh;
    width: 100%;
    background-image: url(..//css/Images/skull-man.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    animation-name: lephex-zoom;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes lephex-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1); /* Back to the original size */
    }
}

#confirmName {
    font-size: 2rem;
    font-style: italic;
    color: black;
    background-color: whitesmoke;
    margin-top: 10px;
}