@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800');


body {
	box-sizing: border-box;
	font-family: 'Irish Grover';
	text-align: center;
	background-color: black;
	color: whitesmoke;
}

h1 {
    font-size: 3rem;
    font-family: 'Macondo Swash Caps';
    color: #169b62;
    margin: 20px auto;
    text-align: center;
    text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
    color: rgb(22, 219, 22);
}

h3 {
    font-family: 'Macondo Swash Caps';
    font-size: 2rem;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px orange;
    color: orange;
}

#guide {
    height: 50vh;
    width: 100%;
    background-image: url(..//css/Images/angry-leprechaun-bg-free.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    animation-name: lephex-zoom;
    animation-duration: 9s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes lephex-zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1); /* Back to the original size */
    }
}

.steps {
    color: orange;
    font-family: 'Macondo Swash Caps';
    font-size: 2rem;
}

input {
    height: auto;
    width: auto;
    font-size: 2rem;
    font-family: 'Irish Grover';
}

b {
    font-size: 2rem;
    font-style: italic;
    color: whitesmoke;
    margin: 20px auto;
    text-align: center;
}

div#refresh b {
    font-family: 'Macondo Swash Caps';
    text-shadow: 1px 1px 1px #000, 3px 3px 5px orange;
    color: orange;
    background-color: #000;
    font-style: normal;
}

p {
    font-size: 2rem;
    font-style: italic;
    margin: 20px auto;
    text-align: center;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px orange;
    color: orange;
}

section {
    margin: 20px auto;
    text-align: center;
}

.sections h2 span.steps img {
    vertical-align: middle;
    width: 1em;
    height: auto;
    margin-right: 0.5em; 
}

a {
    color: green;
}

a, button {
    cursor: pointer;
}

#refresh {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: fit-content;
}

.output {
    margin: auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-width: 2px;
}

#firstButton {
    font-size: 2rem;
    font-style: italic;
    color: green;
    background-color: darkorange;
}

#secondButton {
    font-size: 2rem;
    font-style: italic;
    color: whitesmoke;
    background-color: green;
    background-color: limegreen;
}

#thirdButton {
    font-size: 2rem;
    font-style: italic;
    color: orange;
    background-color: whitesmoke;
}

#finalButton {
    background-color: darkorange;
}

#fullPhrase {
    color: #169b62;
    font-size: 2rem;
    font-style: normal;
}

button {
    font-family: 'Irish Grover';
}

button#refresh p {
    color: whitesmoke;
    font-size: 1.5rem;
}

#sentence {
    color: green;
}

.social-networks {
    max-width: 50vw;
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
    text-align: center;
    margin-top: 1.5rem;
}

.social-networks li {
    display: inline-block;
    width: 20%;
    font-size: 4.5vmin;
}

.fab,
.far {
    font-weight: 400;
    color: #169b62;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.about-aj,
.about-sam {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-aj .custom-col-md-6,
.about-sam .custom-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

@media (max-width: 767px) {
    .about-aj .custom-col-md-6,
    .about-sam .custom-col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Navbar */
.irish-flag-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.irish-flag-navbar .nav-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50px;
}

.irish-flag-navbar .nav-section,
.irish-flag-navbar .nav-section a {
    color: black; 
}

.irish-flag-navbar .nav-section a {
    text-decoration: none; 
}

.irish-flag-navbar img {
    max-height: 40px; 
    width: auto;
    margin: 0 auto; 
}

.green {
    background-color: #169b62;
}

.white {
    background-color: #ffffff;
}

.orange {
    background-color: #ff883e;
}

.irish-flag-navbar img {
    max-height: 40px;
    width: auto;
    margin: 0 auto;
}


.shamrock {
    width: 50% !important;
}

.l-what,
.l-who,
.l-where,
.l-why,
.l-when {
    cursor: pointer;
} 

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 20px;
    text-align: center;
}

.canvas-container {
    display:flex;
    justify-content: center;
    width: 100%;
}

footer p {
    color: whitesmoke;
}

footer h2 {
    color: #169b62;
}